<!-- ADD_NEW_TASK-->
<div class="panel panel-default" >
  <!-- Default panel contents -->
  <div class="panel-heading">Add new task</div>
        <form name="taskList" ng-submit="insertNewTask(projectTask);"
        method="POST"> <!-- action="test.php" -->

          <div class="form-group">
              <label for="Title">Title</label>
              <input type="text"
                     name="taskTitle"
                     class="form-control"
                     placeholder="IOS Application"
                     maxlength="30"
                     ng-model="projectTask.title" 
                     autofocus 
                     required />
            </div>

            <!-- ERRORS_TITLE -->
            <div class="form-group">
            <p class="text-danger" ng-show="taskList.taskTitle.$invalid && taskList.taskTitle.$dirty">Title field is Empty!</p>
          </div>
          <!-- END_ERRORS_TITLE -->

          <div class="form-group">
              <label for="Description">Description</label>
              <input type="text" 
                     name="taskDescription"
                     class="form-control"
                     placeholder="Some text"
                     maxlength="30"
                     ng-model="projectTask.description" 
                     autofocus 
                     required />
            </div>

          <!-- ERRORS_DESCRIPTION -->
            <div class="form-group">
            <p class="text-danger" ng-show="taskList.taskDescription.$invalid && taskList.taskDescription.$dirty">Dedcription field is Empty!</p>
          </div>
          <!-- END_ERRORS_DESCRIPTION -->

            <div class="form-group">
              <label for="StartDate">Start Date</label>
              <input type="text" 
                     name="taskStartDate"
                     class="form-control"
                     placeholder="2017-12-31"
                     maxlength="30"
                     ng-model="projectTask.start_dt" 
                     autofocus 
                     required />
            </div>

          <!-- ERRORS_START_DATE -->
            <div class="form-group">
            <p class="text-danger" ng-show="taskList.taskStartDate.$invalid && taskList.taskStartDate.$dirty">Start Date field is Empty!</p>
          </div>
          <!-- END_ERRORS_START_DATE -->

            <div class="form-group">
              <label for="EndDate">End Date</label>
              <input type="text" 
                     name="taskEndDate"
                     class="form-control"
                     placeholder="2017-12-31"
                     maxlength="30"
                     ng-model="projectTask.end_dt" 
                     autofocus 
                     required />
            </div>

          <!-- ERRORS_END_DATE -->
            <div class="form-group">
            <p class="text-danger" ng-show="taskList.taskEndDate.$invalid && taskList.taskEndDate.$dirty">End Date field is Empty!</p>
          </div>
          <!-- END_ERRORS_END_DATE -->

          <div class="form-group" >
            <label for="Progect Manager">Executor</label>

            </br>

            <select ng-model="projectTask.executor_id">
              <option ng-repeat="m_count in memberCount" value="{{m_count.id}}">{{m_count.id}} {{m_count.name}} {{m_count.surname}}</option>
            </select>

              <h1>You selected: {{projectTask.executor_id}}</h1>
          </div>


          <!-- ERRORS_EXECUTOR -->
            <div class="form-group">
            <p class="text-danger" ng-show="taskList.projectProjectManager.$invalid && taskList.projectProjectManager.$dirty">Executor field is Empty!</p>
          </div>
          <!-- END_ERRORS_EXECUTOR -->

          <div class="form-group" > 
            <label for="Progect Manager">Stage</label>

            </br>

            <select ng-model="projectTask.stage_id" >
              <option ng-repeat="st_count in stageCount" value="{{st_count.id}}">{{st_count.id}} {{st_count.name}}</option>
            </select>

              <h1>You selected: {{projectTask.stage_id}}</h1>
          </div>


          <!-- ERRORS_STAGE -->
            <div class="form-group">
            <p class="text-danger" ng-show="taskList.projectProjectManager.$invalid && taskList.projectProjectManager.$dirty">Stage field is Empty!</p>
          </div>
          <!-- END_ERRORS_STAGE -->

          <div class="form-group" > 
            <label for="Progect Manager">Is done:</label>

            </br>

            <input type="checkbox" ng-model="projectTask.status">

            <h1>You selected: {{projectTask.status}}</h1>
          </div>


          <!-- ERRORS_STATUS -->
            <div class="form-group">
            <p class="text-danger" ng-show="taskList.taskStatus.$invalid && taskList.taskStatus.$dirty">Status field is Empty!</p>
          </div>
          <!-- END_ERRORS_STATUS -->


          <div class="modal-footer form-group">
            <button class="btn btn-primary" ng-disabled="taskList.$invalid">Add</button>
          </div>
        </form>
      </div>
    </div>







