<!-- Members_Table -->
<div class="panel panel-default memberTable" id="projectList">
  <!-- Default panel contents -->
  <div class="panel-heading">Projects</div>
    <div class="panel-body">
      <span class="input-group-btn">
        <input type="text" class="form-control" placeholder="Search Projects Into Database..." ng-model="search_query">
      </span>
    </div>
  <div class="table-container">
      <!-- Table -->
      <table class="table table-hover">
        <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Progress</th>
        <th>Project Manager</th>
        <th>Model</th>
        <th>Edit</th>
        <th class="hide">Delete</th>
        </tr>
          <tr ng-repeat="project in projects | filter:search_query">
            <td><span>{{project.id}}</span></td>
            <td>{{project.title}}</td>
            <td>{{project.start_dt}}</td>     
            <td>{{project.end_dt}}</td>
            <td>{{project.progress}}</td>
            <td>Вставіть проджеет менеджера</td>
            <td>Вставіть модель</td>
            <td>
              <button class="btn btn-warning" ng-click="editInfoProject(project)" title="Edit">
              <!-- <a href="#/UpdateMember"></a> -->
              <span class="glyphicon glyphicon-edit"></span></button>
            </td>
            <td class="hide">
              <button class="btn btn-danger" ng-click="deleteInfoProject(project)" title="Delete">
              <span class="glyphicon glyphicon-trash"></span></button>
            </td>
          </tr>
        </table>
      <!-- </form> -->
      </div>
  </div>