<!-- ADD_NEW_MEMBER-->
<div class="panel panel-default" id="updateProjectModel" hidden>
  <!-- Default panel contents -->
  <div class="panel-heading">Update project</div>
        <form name="projectList" ng-submit="UpdateProject(currentProject);"
        method="POST"> <!-- action="test.php" -->

          <div class="form-group">
              <label for="Name">Title</label>
              <input type="text"
                   name="projectName"
                   class="form-control"
                   placeholder="IOS Application"
                   maxlength="30"
                   ng-model="currentProject.title"
                   value="{{currentProject.title}}" 
                   autofocus 
                   required />
            </div>

            <!-- ERRORS_NAME -->
            <div class="form-group">
            <p class="text-danger" ng-show="projectList.projectName.$invalid && projectList.projectName.$dirty">Title field is Empty!</p>
          </div>
          <!-- END_ERRORS_NAME -->

            <div class="form-group">
              <label for="StartDate">Start Date</label>
              <input type="text" 
                   name="projectStartDate"
                   class="form-control"
                   placeholder="2017-12-31"
                   maxlength="30"
                   ng-model="currentProject.start_dt" 
                   value="{{currentProject.start_dt}}"
                   autofocus 
                   required />
            </div>

          <!-- ERRORS_SURNAME -->
            <div class="form-group">
            <p class="text-danger" ng-show="projectList.projectStartDate.$invalid && projectList.projectStartDate.$dirty">Start Date field is Empty!</p>
          </div>
          <!-- END_ERRORS_SURNAME -->

            <div class="form-group">
              <label for="EndDate">End Date</label>
              <input type="text" 
                 name="projectEndDate"
                 class="form-control"
                 placeholder="2017-12-31"
                 maxlength="30"
                 ng-model="currentProject.end_dt"
                 value="{{currentProject.end_dt}}" 
                 autofocus 
                 required />
            </div>

          <!-- ERRORS_LOGIN -->
            <div class="form-group">
            <p class="text-danger" ng-show="projectList.projectEndDate.$invalid && projectList.projectEndDate.$dirty">End Date field is Empty!</p>
          </div>
          <!-- END_ERRORS_LOGIN -->

          <div class="form-group" > <!-- ng-controller="projectManagerController" -->
            <label for="Progect Manager">Project Model</label>

            </br>

            <select ng-model="currentProject.model_id" >
              <option ng-repeat="model_count in modelCount" value="{{model_count.id}}">{{model_count.id}} {{model_count.name}}</option>
            </select>

              <h1>You selected: {{currentProject.model_id}}</h1>
          </div>


          <!-- ERRORS_PROGRESS -->
            <div class="form-group">
            <p class="text-danger" ng-show="projectList.projectProjectManager.$invalid && projectList.projectProjectManager.$dirty">Manager field is Empty!</p>
          </div>
          <!-- END_ERRORS_PROGRESS -->

          <div class="form-group">
            <label for="Progress">Progress</label>
            <input type="text" 
                 name="projectProgress" 
                 class="form-control"
                 placeholder="0"
                 maxlength="3"
                 ng-model="currentProject.progress"
                 value="{{currentProject.progress}}" 
                 autofocus
                 value="0" 
                 disabled />
          </div>

          <!-- ERRORS_PROGRESS -->
            <div class="form-group">
            <p class="text-danger" ng-show="projectList.projectProgress.$invalid && projectList.projectProgress.$dirty">Progress field is Empty!</p>
          </div>
          <!-- END_ERRORS_PROGRESS -->


          <div class="modal-footer form-group">
            <button class="btn btn-primary" ng-disabled="projectList.$invalid" ng-click="setUpdateProject(currentProject.id)">Update</button> 
          </div>
        </form>
      </div>
    </div>







